PhotoCollection/PhotoCollection/ApiKey.plist
PhotoCollection/PhotoCollection.xcodeproj/project.xcworkspace/xcuserdata/aliaksandr.chekushkin.xcuserdatad/UserInterfaceState.xcuserstate
PhotoCollection/PhotoCollection.xcodeproj/project.xcworkspace/xcuserdata/aliaksandr.chekushkin.xcuserdatad/UserInterfaceState.xcuserstate
